body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lb-yes {
    color: aqua;
}

.lb-no {
    color: gray;
}

.support-card {
    position:relative;
    width: 100px;
    height: 100px;
    display:inline-block;
    text-align: center;
}

.support-card-image {
    width: 100%;
    height: 100%;
}

.limit-breaks {
    position:absolute;
    bottom:5px;
    left:0px;
    width:100px;
    font-size: 1em;
    text-shadow: -1px -1px 0 #f5f0eb, 1px -1px 0 #f5f0eb, -1px 1px 0 #f5f0eb, 1px 1px 0 #f5f0eb;
}

.stat-1 {
    position:absolute;
    top:20px;
    right:10px;
    font-size: 0.75em;
    color:yellow;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.stat-2 {
    position:absolute;
    top:35px;
    right:10px;
    font-size: 0.75em;
    color:yellow;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.stat-3 {
    position:absolute;
    top:50px;
    right:10px;
    font-size: 0.75em;
    color:yellow;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.type-icon {
    position:absolute;
    top:5px;
    right:5px;
    width:30px;
}

.score {
    position:absolute;
    top:5px;
    right:10px;
    text-align: right;
    width:100px;
    font-size: 0.75em;
    font-weight: bold;
    color:greenyellow;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.tier {
    display:flex;
    padding-top:10px;
    padding-bottom:5px;
}

.tier-images {
    flex:1;
    text-align: left;
}

.tier:nth-child(odd) {
    background-color: lightgray;
}

.tier-letter {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    width:50px;
    height:100%;
}

.weight-row {
    width: 100%;
    padding-bottom:10px;
}

.filters {
    text-align:center;
}

table {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

td {
    width:150px;
}

th {
    width:150px;
    padding-right: 40px;
}

.section-header {
    width: 100%;
    font-weight: bold;
}

.section-explanation {
    width: 100%;
    font-style: italic;
}

input {
    width: 80px;
    text-align: center;
}

label {
    padding-left: 10px;
    padding-right: 5px;
}

.selected-cards {
    width:100%;
}

.slider {
    width: 300px;
}

.image-btn {
    width: 50px;
    height: 50px;
    padding-top: 15px;
}

.selected {
    filter:grayscale(100%);
}

.btn-preset {
    margin-left: 2px;
    margin-right: 2px;
}

.label {
    display:block;
    margin-left: 8px;
    text-align: left;
    font-weight: bold;
}

.link {
    margin-bottom: 10px;
    margin-top:5px;
}

.selectors {
    display:flex;
    padding-left:10px;
    padding-right:10px;
}

.select {
    width:25%;
    flex:1;
}

.selectLabel {
    text-align: center;
    vertical-align: center;
    padding-right:10px;
    padding-top:6px;
}